@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  font-family: 'Titillium Web', sans-serif;
}

.navbar-wrapper {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.home {
  color: aliceblue;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  width: 100%;
}

.text {
  color: aliceblue;
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  margin: 0% 10% 0% 10%;
  width: 80%;
}

input.searchbar {
  width: 75%;
  border-radius: 25px;
  padding: 6px
}

input.submitbtn {
  margin-left: 15px;
  border-radius: 25px;
  padding: 6px;
}

.search {
  width: 50%;
  /* overflow: auto; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  top: 50px;
}

form.search-form {
  position: relative  ;
  left: 22%;
}

.boxed {
  position: sticky;
  top: 20%;
  left: -88%;
  /* background-color: rgba(255, 255, 255, 1); */
  border-style: solid black;
  width: 120%;
  height: 75%;
  /* flex: 1; */
  margin: 24px auto;
  padding: 20px;
  border-radius: 25px;
  /* overflow: auto; */
}

.hr {
  background-color: rgb(0, 140, 255);
}

.Apply {
  position: relative;
  background-color: rgb(52, 141, 214);
  color: aliceblue;
  font-weight: 800;
  top: 8px;
  letter-spacing: 1.5px;
  width: 21%;
  height: auto;
  border-radius: 10px;
  padding: 6px;
}

.role {
  color: blue;
}

.Salery {
  background-color: rgb(52, 141, 214);
  color: aliceblue;
  font-weight: 800;
  letter-spacing: 1.5px;
  width: 21%;
  height: auto;
  border-radius: 10px;
  padding: 6px;
}

body {
  background: url('Images/Building.jpg') no-repeat center;
  height: 100vh;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /* align-items: flex-start; */
}

.smallbox {
  list-style-type: none;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  padding: 30px
}

.gridcontainer {
  position: absolute;
  top: 20%;
  background-color: rgba(0, 0, 0, 0);
  left: -0%;
  height: 100%;
}

.searchbar{
  position: fixed;
  left: 5px;
}

.container{
  position: relative;
  margin-top: 50%;
}